CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
frag_info.txt
vert_info.txt
tesc_info.txt
tese_info.txt
.vscode
.vs
release
android/.idea
build
x64
Debug
*.dir

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

*.spv
bin

android/app/assets

.log
.scap
.svace-dir
output

external