[submodule "engine/external/glfw"]
	path = engine/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/external/imgui"]
	path = engine/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "engine/external/xxHash"]
	path = engine/external/xxHash
	url = git@github.com:Cyan4973/xxHash.git
[submodule "engine/external/glm"]
	path = engine/external/glm
	url = https://github.com/g-truc/glm.git