[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/xxHash"]
	path = external/xxHash
	url = git@github.com:Cyan4973/xxHash.git
